@font-face {
  font-family: 'MetropolisBold';
  src: url('fonts/Metropolis-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'MetropolisMedium';
  src: url('fonts/Metropolis-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.woff2') format('woff2');
}

html {
  --thermometer-height: 11px;
  --thermometer-top: 142px;
}

body {
  font-family: 'Inter';
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 5vw;
  padding-right: 5vw;
}

header {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

header h1 {
  font-family: 'MetropolisMedium';
  background-size: 36px auto;
  line-height: 63px;
  background-image: url('images/firefox-logo.svg');
  background-position: left center;
  padding-left: 48px;
  background-repeat: no-repeat;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: #20123b;
}

h1, h2 {
  font-family: 'MetropolisBold';
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  margin-top: 0.2rem;
}

.button {
  font-family: 'MetropolisBold';
  font-size: 0.8rem;
  color: #fff;
  border-radius: 3px;
  background-color: #0060df;
  padding: 20px;
  text-decoration: none;
  display: block;
}

.button:hover {
  background-color: #0a84ff;
}

.card .button {
  padding-top: 20px;
  max-width: 101px;
}

li {
  list-style-type: square;
  margin-left: 20px;
  line-height: 2.5rem;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.row.no-space {
  justify-content: start;
}

.row.no-space img {
  margin-left: 5vw;
}

.row:first-of-type {
  padding-bottom: 50px;
}

.lead {
  width: 60vw;
  margin-right: 5vw;
}

.cta {
  font-size: 2rem;
  color: #ff0039;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}

.cta p {
  max-width: 50vw;
  text-align: center;
}

.card {
  padding: 20px;
  border-radius: 12px;
  max-width: 20vw;
}

.action-highlight {
  background-color: #b5007f;
  color: #fff;
}

.action-highlight a {
  color: #fff;
}

.share-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.share-buttons img {
  width: 50px;
  height: 50px;
}

.goals {
  display: flex;
  flex-direction: column;
  min-width: 45vw;
}

.goals h1 {
  line-height: 2.2rem;
  text-align: center;
}

#number {
  color: #ff0039;
}

.goals-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goals-content .button {
  max-width: 158px;
}

.thermometer {
  margin: 50px auto;
  width: 22px;
  height: 150px;
  display: block;
  background: linear-gradient(top, #fff 0%, #fff 50%, #ff0039 50%, #ff0039 100%);
  border-radius: 22px 22px 0 0;
  border: 5px solid #4a1c03;
  border-bottom: none;
  position: relative;
  box-shadow: inset 0 0 0 4px #fff;
  color: #4a1c03;
}

.thermometer:before {
  content: ' ';
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  top: 142px;
  left: -16px;
  z-index: -1;
  background: #ff0039;
  border-radius: 44px;
  border: 5px solid #4a1c03;
  box-shadow: inset 0 0 0 4px #fff;
}

.thermometer:after {
  content: ' ';
  width: 14px;
  height: var(--thermometer-height);
  display: block;
  position: absolute;
  top: var(--thermometer-top);
  left: 4px;
  background: #ff0039;
}

.video-center iframe {
  display: block;
  margin: 0 auto;
  width: 850px;
  height: 550px;
  margin-bottom: 150px;
}

.icons {
  text-align: center;
  font-size: 0.5rem;
  color: #fff;
  background-color: #000;
  padding-top: 10vh;
  padding-bottom: 5px;
}

.icons a {
  color: #fff;
}

footer {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
  padding-top: 2vh;
}

footer .content {
  display: flex;
}

footer .content section {
  min-width: 50vw;
}

footer img {
  padding-top: 30px;
  padding-left: 200px;
  width: 20vw;
}

footer h3 {
  padding-top: 30px;
  font-family: 'MetropolisMedium';
}

footer ul {
  margin-left: 0;
  padding-left: 0;
}

footer li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

footer img {
  width: 10vw;
}

footer a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 500px) {
  header a {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  header {
    margin-bottom: 0;
  }

  header a {
    max-width: 25vw;
  }

  .header-image {
    display: none;
  }

  .row {
    flex-direction: column;
  }

  h1 {
    margin-top: 50px;
  }

  .lead {
    width: 100%;
  }

  .goals {
    padding-right: 0;
  }

  .goals h2 {
    padding-left: 0;
    text-align: center;
  }

  .goals-content {
    margin-top: 10vh;
  }

  .card {
    max-width: 100%;
  }

  .cta p {
    max-width: 100%;
  }

  .video-center iframe {
    width: 80vw;
    height: 45vw;
  }

  footer {
    justify-content: center;
  }

  footer .content {
    flex-direction: column;
    text-align: center;
  }

  footer .content section {
    min-width: 0;
  }

  footer img {
    padding-left: 0;
    width: 30vw;
  }
}
